body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #222;
  line-height: 1.6;
}

/* HEADER */
header {
  background: #111;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

/* SECTIONS */
section {
  max-width: 1100px;
  margin: auto;
  padding: 60px 40px;
}

h1, h2 {
  margin-bottom: 20px;
}

/* PROJETS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  flex: 1;
}

.card a {
  margin: 20px;
  background: #2f6fed;
  color: white;
  text-align: center;
  padding: 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

/* CONTACT */
.contact a {
  display: inline-block;
  margin-top: 10px;
  color: #2f6fed;
  font-weight: bold;
  text-decoration: none;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  background: #111;
  color: white;
}
